.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 2rem;
    background-color: var(--primary-color);
    color: var(--bg-color);
    box-shadow: 0 2px 5px var(--shadow-color);
}

.logo .link {
    font-size: 1.75rem;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

.navLinks {
    list-style: none;
    display: flex;
    align-items: center;
}

.navLinks li {
    margin-left: 2rem;
}

.navLinks .link {
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
    transition: color 0.3s ease;
}

.navLinks .link:hover {
    color: var(--secondary-color);
}

.themeToggle {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
}